# Virtual environment
backend/venv/

# Local sensitive environment vars
backend/.env

# Local database
backend/db.sqlite3

# Static files folder created during collectstatic
backend/staticfiles/

# Frontend dependencies
frontend/node_modules/

# Built assets are kept to run directly on pythonanywhere
# frontend/dist/

desktop-app/node_modules/
desktop-app/dist/
backend/tracker/__pycache__/
# Python
__pycache__/
*.py[cod]

# Django
*.sqlite3

# Environment
.env
.venv/
venv/

# Frontend
node_modules/
